$white-100: #FDFEFE;
$white-100: #F7F9F9;
$white-300: #ECF0F1;

$black-100: #17202A;
$black-200: #212F3D;

$green-100: #427659;
$green-200: #4c966d;
$green-300: #54b27e;
$green-400: #55d27e;
$green-500: #63f67f;

$blue-100: #34495E;
$blue-200: #154360;
$blue-300: #1A5276;
$blue-400: #1F618D;
$blue-500: #85929E;
$blue-600: #D6DBDF;
$blue-700: #EBEDEF;