@import '~@nativescript/theme/core';

.book-new-button {
  background-color: #ffffff;
  color: black;
  width: 200px;
  height: 125px;
  font-size: 14px;;
}

.book-item {
  border-width: 5px;
  border-color: #ccc;
  border-style: solid;
}

.book-item-title {
  font-size: 16px;
  font-weight: bold;
}

.book-item-author {
  font-size: 14px;
}