@import '~@nativescript/theme/core';
@import './theme/palette';
@import './theme/guideline';

Page {
  background-color: $blue-700;
}

.horizontal-line {
  width: 100%;
  font-size: 19;
  padding: 5 18;
  border-width: 1 0 0 0;
  border-color: $black-200;
}

.book-button {
  background-color: $blue-100;
  color: $white-300;
  width: 90%;
  height: 125;
  font-size: 18;
  font-weight: bold;
}

.book-details {
  margin: $margin-item;
  padding: 15;
  android-elevation: 5;
}

.book-details-row {
  margin: $margin-item;
  padding: 5 15;
}

.label-light {
  font-weight: 200;
  font-size: 12;
  color: $black-200;
  margin-bottom: $margin-label;
  padding-bottom: $margin-label;
}

.label-bold {
  font-size: 14;
  font-weight: bold;
  color: $black-100;
  margin-top: $margin-label;
  padding-top: $margin-label;
}

.layout-half-width {
  width: 50%
}

.book-details-status-list-container {
  margin-top: 20;
}

.book-details-status-list-item {
  margin-left: $margin-item;
  margin-top: $margin-item;
  padding: 5;
}

.book-row {
  margin: $margin-item;
}

.book-row-with-drop-down {
  margin-left: 20;
  margin-top: 10;
}

.book-textfield {
  color: $black-100;
  placeholder-color: $black-200;
  font-size: 16;
}

.book-textfield:focus {
  border-color: $blue-200;
}

.textfield-bottom-border {
  width: 92%;
  border-width: 1 0 0 0;
  border-color: $black-300;
  height: 0;
}

.item-drop-down{
  font-size: 20;
  height: 40;
  padding: 4;
  width: 100%;
  border: 2;
  border-color:#D3D3D3;
}