@import '~@nativescript/theme/core';
@import './theme/palette';
@import './theme/guideline';

Page {
  background-color: $blue-700;
}

.book-button {
  background-color: $blue-100;
  color: $white-300;
  width: 90%;
  height: 125;
  font-size: 18;
  font-weight: bold;
}

.book-details {
  margin: $margin-item;
  padding: 15;
  android-elevation: 5;
}

.book-details-row {
  margin: $margin-item;
  padding: 5 15;
}

.label-light {
  font-weight: 200;
  font-size: 12;
  color: $black-200;
  margin-bottom: $margin-label;
  padding-bottom: $margin-label;
}

.label-bold {
  font-size: 14;
  font-weight: bold;
  color: $black-100;
  margin-top: $margin-label;
  padding-top: $margin-label;
}

.layout-half-width {
  width: 50%
}

.book-details-status-list-container {
  margin-top: 20;
}

.book-details-status-list-item {
  margin-left: $margin-item;
  margin-top: $margin-item;
  padding: 5;
}

.book-row {
  margin: $margin-item;
}

.book-textfield {
  color: $black-100;
  placeholder-color: $black-200;
}

.book-textfield:focus {
  border-color: $blue-200;
}